 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Freelance programming with an emphasis on data</p>
                            <!--
                        <div style="display:table;margin-left:auto;margin-right:auto;">
                            <ul style="text-align:left;width:auto;">
                                <li>Web Development</li>
                                <li>Data Visualization</li>
                                <li>Data Analysis</li>
                            </ul>
                        <div class="skills-cloud">
                            <p>Windows &middot; Mac &middot; Unix</p>
                            <p>C++ &middot; C# &middot; Javascript &middot; Python &middot; Perl &middot; Ruby &middot; Powershell &middot; R</p>
                            <p>HTML5 &middot;  CSS3 &middot;  XSLT &middot; SQL &middot; JQuery &middot; d3.js </p>
                            <p>WordPress</p>
                        </div>
                        -->
                        <div class="expertise-areas">
                            <article class="expertise-area bar-chart-background">
                                <div class="project-icon">
                                </div>
                                <div class="expertise-area-title">Data Visualization</div>
                                <div class="expertise-details">
                                Transform and understand your data; render it with insightful beauty
                                </div>
                                <div class="expertise-area-links">
                                NumPy, R, D3.js
                                </div>
                            </article>
                            <article class="expertise-area web-background">
                                <div class="project-icon">
                                </div>
                                <div class="expertise-area-title">Web Development</div>
                                <div class="expertise-details">
                                Simple web presence to elaborate e-commerce.  Hosted platforms or custom code.
                                </div>
                                <div class="expertise-area-links">
                                Javascript, JQuery, HTML5/CSS3, WordPress
                                </div>
                            </article>
                            <article class="expertise-area script-background">
                                <div class="project-icon">
                                </div>
                                <div class="expertise-area-title">Native &amp; Scripting</div>
                                <div class="expertise-details">
                                Full stack, from assembly to scripting.
                                </div>
                                <div class="expertise-area-links">
                                C/C++, C#, Python, Ruby, Perl, Powershell
                                </div>
                            </article>
                        </div>
                </div>
            </div>
        </div>
    </section>